<div id="wrapper">
            
    <div *ngIf="SpinnerFields" id="wheel">

        <div id="inner-wheel">
            <div *ngFor="let field of SpinnerFields; let i = index">
                <div>
                    <div [style]="holder[i]" class="hold">
                        <div class="sec" [style]="fieldStyleNth[i]" *ngIf="field.isItImage">
                            <div> <span> <img src="../../../../../public/images/documentationpage.PNG" alt="">
                                {{field.image}} </span></div>
                        </div>
                    </div>

                    <div [style]="holder[i]" class="hold">
                        <div class="sec" [style]="fieldStyleNth[i]" *ngIf="!field.isItImage">
                            <div><span>{{field.textFieldOne}}</span></div>
                        </div>
                    </div>

                </div>
    
            </div>       
           
            <div id="spin">
                <div id="inner-spin"></div>
            </div>
            
            <div id="shine"></div>
        </div>
        
    </div>
    
    <div id="txt"></div>
</div>