$Diameter: 305px;
$WheelBorder: $Diameter/35;
$maxWidthImage: $Diameter/3.5;
$SpinDiameter: $Diameter/3.6764;
$InnerSpinDiameter: $Diameter/4.62;
$spanWidth: $Diameter/2 - $WheelBorder*2;
$spanHight: $Diameter/8;


#wrapper{ 
	margin: 40px auto 0;	
	width:100%; 
	position:relative;

	div#wheel{
		width:$Diameter;
		height:$Diameter;
		border-radius:50%;	
		position:relative;
		overflow:hidden;
		border:$WheelBorder solid #fff;
		box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
		transform: rotate(0deg);
		#inner-wheel{
			width:100%;
			height:100%;
			-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
			-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
			-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
			-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
			transition:         all 6s cubic-bezier(0,.99,.44,.99);	
			div.hold {
				position:absolute;
				width: $Diameter;
				height: $Diameter;
				clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
				left: -$WheelBorder;
				top: -$WheelBorder;
				div.sec{
					position: absolute;
					width: $Diameter;
					height: $Diameter;
					transform-origin: center;
					left:0;
					top:0;	
					opacity:1;
					clip:rect(0px,$Diameter/2,$Diameter,0px);
					border-radius:$Diameter; 
					span.imageSpan {
						position: absolute;
						bottom: $Diameter/2;
						right: $Diameter/2 - $maxWidthImage/2;
						z-index: 10000000;
						display: block;
						text-align: center;
						font-size: $Diameter/10;
						//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
						max-width: $maxWidthImage;
						min-height: $maxWidthImage*1.45;
						.ImageContainer{
							img {
								max-width: 70%;
							}
						}
					}
					.SpanContainer {
						position: absolute;
						bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
						right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
						min-width: $spanWidth;
						max-width: $spanWidth;
						min-height: $spanHight;
						max-height: $spanHight;
						display: flex;
						display: flex;
						align-items: center;
						span.TextSpan {
							max-width: 80%;
							max-height: 100%;
							min-height: 100%;
							z-index: 10000000;
							display: block;
							font-size:$Diameter/15;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
						}
					}
				}
			}
		}
	
		#spin{
			width: $SpinDiameter;  
			height: $SpinDiameter;
			position:absolute;
			top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
			left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
			margin:0;
			border-radius:50%;
			box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
			z-index:1000;
			background:#fff;
			cursor:pointer;
			  -webkit-user-select: none; 
			  -moz-user-select: none;    
			  -ms-user-select: none;     
			  -o-user-select: none;
			user-select: none;
			#inner-spin{
				width:$InnerSpinDiameter;  //54px
				height:$InnerSpinDiameter;//54px
				position:absolute;
				top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
				left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
				margin:0;
				border-radius:50%;
				background:red;
				z-index:999;
				box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
				
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
				
				overflow:hidden;
				img {
					width: $InnerSpinDiameter;
					height: $InnerSpinDiameter;
					border-radius: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			
			}     
		}
		
		#spin:after{
			content:'';	
			text-align:center;
			line-height:$SpinDiameter;
			color:#CCC;
			text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
			position: relative;
			z-index: 100000;
			width:$SpinDiameter;
			height:$SpinDiameter;
			display:block;
		}
		
		#spin:before{
			content:"";
			position:absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
			border-color: transparent transparent #ffffff transparent;
			top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
			left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
		}
		
		#spin:active #inner-spin{
			box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
		}
		
		#spin:active:after{
			font-size:$SpinDiameter/23.33;	
		}
		 	/*
		#shine{
			width: $Diameter;
			height:$Diameter;
			position:absolute;
			top:0;
			left:0;
			background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
			background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
			background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
			background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
			opacity:0.1;
		}*/
	}
	
	#wheel:before{
		content:'';
		position:absolute;
		border: $Diameter/40 solid rgba(0,0,0,0.1);
		width:$Diameter*0.968;
		height:$Diameter*0.968;
		border-radius:50%;
		z-index:1000;	
	}
	
	
}

@media only screen and (min-width: 375px) {
	$Diameter: 340px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}

@media only screen and (min-width: 425px) {
	$Diameter: 395px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}

@media only screen and (min-width: 550px) {
	$Diameter: 500px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}

@media only screen and (min-width: 670px) {
	$Diameter: 640px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}

@media only screen and (min-width: 768px) {
	$Diameter: 700px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}

@media only screen and (min-width: 1024px) {
	$Diameter: 800px;
	$WheelBorder: $Diameter/35;
	$maxWidthImage: $Diameter/3.5;
	$SpinDiameter: $Diameter/3.6764;
	$InnerSpinDiameter: $Diameter/4.62;
	$spanWidth: $Diameter/2 - $WheelBorder*2;
	$spanHight: $Diameter/8;
	#wrapper{ 
		margin: 40px auto 0;	
		width:100%; 
		position:relative;
	
		div#wheel{
			width:$Diameter;
			height:$Diameter;
			border-radius:50%;	
			position:relative;
			overflow:hidden;
			border:$WheelBorder solid #fff;
			box-shadow:rgba(0,0,0,0.2) 0px 0px $Diameter*2/35, rgba(0,0,0,0.05) 0px $Diameter/80 0px;
			transform: rotate(0deg);
			#inner-wheel{
				width:100%;
				height:100%;
				-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
				-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
				-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
				-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
				transition:         all 6s cubic-bezier(0,.99,.44,.99);	
				div.hold {
					position:absolute;
					width: $Diameter;
					height: $Diameter;
					clip:rect(0px,$Diameter,$Diameter,$Diameter/2);
					left: -$WheelBorder;
					top: -$WheelBorder;
					div.sec{
						position: absolute;
						width: $Diameter;
						height: $Diameter;
						transform-origin: center;
						left:0;
						top:0;	
						opacity:1;
						clip:rect(0px,$Diameter/2,$Diameter,0px);
						border-radius:$Diameter; 
						span.imageSpan {
							position: absolute;
							bottom: $Diameter/2;
							right: $Diameter/2 - $maxWidthImage/2;
							z-index: 10000000;
							display: block;
							text-align: center;
							font-size: $Diameter/10;
							//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/100) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/100) 0px;
							max-width: $maxWidthImage;
							min-height: $maxWidthImage*1.45;
							.ImageContainer{
								img {
									max-width: 70%;
								}
							}
						}
						.SpanContainer {
							position: absolute;
							bottom:  $Diameter/2 - $spanHight/2; //  $Diameter/2  + $SpinDiameter/2 - $WheelBorder*3
							right: $Diameter/2;  //  + $SpinDiameter/2 - $WheelBorder*3;    + $spanHight/2
							min-width: $spanWidth;
							max-width: $spanWidth;
							min-height: $spanHight;
							max-height: $spanHight;
							display: flex;
							display: flex;
							align-items: center;
							span.TextSpan {
								max-width: 80%;
								max-height: 100%;
								min-height: 100%;
								z-index: 10000000;
								display: block;
								font-size:$Diameter/15;
								//text-shadow: rgba(255, 255, 255, 0.1) 0px -($Diameter/200) 0px, rgba(0, 0, 0, 0.2) 0px -($Diameter/200) 0px;
							}
						}
					}
				}
			}
		
			#spin{
				width: $SpinDiameter;  
				height: $SpinDiameter;
				position:absolute;
				top: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;  
				left: $Diameter/2 - $SpinDiameter/2 - $WheelBorder;
				margin:0;
				border-radius:50%;
				box-shadow:rgba(0,0,0,0.1) 0px $SpinDiameter/100 0px;
				z-index:1000;
				background:#fff;
				cursor:pointer;
				  -webkit-user-select: none; 
				  -moz-user-select: none;    
				  -ms-user-select: none;     
				  -o-user-select: none;
				user-select: none;
				#inner-spin{
					width:$InnerSpinDiameter;  //54px
					height:$InnerSpinDiameter;//54px
					position:absolute;
					top: $SpinDiameter/2 - $InnerSpinDiameter/2;   //50%
					left: $SpinDiameter/2 - $InnerSpinDiameter/2;      //50%
					margin:0;
					border-radius:50%;
					background:red;
					z-index:999;
					box-shadow:rgba(255,255,255,1) 0px -$SpinDiameter/100 0px inset, rgba(255,255,255,1) 0px $SpinDiameter/100 0px inset,  rgba(0,0,0,0.4) 0px 0px $SpinDiameter/80 ;
					
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
					background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
					
					overflow:hidden;
					img {
						width: $InnerSpinDiameter;
						height: $InnerSpinDiameter;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				
				}     
			}
			
			#spin:after{
				content:'';	
				text-align:center;
				line-height:$SpinDiameter;
				color:#CCC;
				text-shadow: 0 $SpinDiameter/100 0 #fff, 0 -$SpinDiameter/100 0 rgba(0,0,0,0.3) ;
				position: relative;
				z-index: 100000;
				width:$SpinDiameter;
				height:$SpinDiameter;
				display:block;
			}
			
			#spin:before{
				content:"";
				position:absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 $Diameter*2.2/35 $Diameter*2.2/25 $Diameter*2.2/35;
				border-color: transparent transparent #ffffff transparent;
				top: -$Diameter*2.2/25 + ($SpinDiameter - $InnerSpinDiameter)/2;  //-20px
				left: $SpinDiameter/2 - $Diameter*2.2/35;   //28px
			}
			
			#spin:active #inner-spin{
				box-shadow:rgba(0,0,0,0.4) 0px 0px $SpinDiameter/70 inset;
			}
			
			#spin:active:after{
				font-size:$SpinDiameter/23.33;	
			}
				 /*
			#shine{
				width: $Diameter;
				height:$Diameter;
				position:absolute;
				top:0;
				left:0;
				background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); 
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
				opacity:0.1;
			}*/
		}
		
		#wheel:before{
			content:'';
			position:absolute;
			border: $Diameter/40 solid rgba(0,0,0,0.1);
			width:$Diameter*0.968;
			height:$Diameter*0.968;
			border-radius:50%;
			z-index:1000;	
		}
		
		
	}
}



// animations
@-webkit-keyframes hh {
	0%, 100%{
	  transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	}
  
	50%{
	  transform: rotate(7deg);
	  -webkit-transform: rotate(7deg);
	}
  }
  
  @keyframes hh {
	 0%, 100%{
	  transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	}
  
	50%{
	  transform: rotate(7deg);
	  -webkit-transform: rotate(7deg);
	}
  }
  
  .spin {
	-webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
	  animation: hh 0.1s;
  }
  
.modal-header, .modal-body, .modal-footer {
	background-color: black;
	color: white;
	.errorMessage {
        padding: 10px;
        color: red;
    }
}

input {
	border-radius: 5px;
}

.sizingBox {
	height: 550px;
}

$InputButtonsBorders: 1px solid white;
.btn {
    border: $InputButtonsBorders;
}
