<div class="container">


    <div class="align-middle">

        <div class="row">
            <div class="col-12">
                <div class="title d-flex justify-content-center">
                    <h1>Password Change</h1>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <div class="formContent">
                    <form [formGroup]="PasswordChangeForm">
                        <div class="row">

                            <div class="col-12 d-flex justify-content-center mb-2">
                                <div class="field">
                                    <input formControlName="password" type="password" placeholder="Enter your NEW password" required>
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                                <div class="field d-flex justify-content-end">
                                    <button class="btn btn-sm btn-danger" (click)="open(ConfirmationModal)">Change Password</button>
                                </div>
                            </div>
    
                        </div>
                    </form>
                </div>

                <div class="errorMessage" *ngIf="PasswordChangeError">
                    <p>Sorry there was an error, try again!</p>
                </div>
            </div>
        </div>

    </div>
    


</div>


<ng-template #ConfirmationModal let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h2>Are you sure you want to change your password?</h2>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="onSubmit()" (click)="modal.close('Save click')">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
    </div>
</ng-template>


<ng-template #modal let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h2>Password Changed Successfully</h2>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')" routerLink="/bc/customize-spinner">Get back</button>
    </div>
</ng-template>