div.container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 0;
    margin: 0 !important;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    background-color: white;
    min-width: 100%;
}

div.align-middle {

    div.title, div.formContent {
        margin: auto;
        width: 75%;
        height: 250px;
        align-items: center;
        padding: 70px 0;
    }

    div.formContent {
        background-color: black;
        border-radius: 20px;

        div.field {
            width: 200px;
            input {
                width: 100%;
                border-radius: 5px;
                border: none;
            }
        }
    }
    .errorMessage {
        padding: 10px;
        color: red;
    }
}


.modal-header, .modal-body {
	background-color: black;
	color: white;
}