.bgColor {
    background-color: rgb(92, 92, 92);
    min-height: 100vh;
    height: 100%;
}

div.container {
    padding: 50px 30px 40px 30px;   
    min-height: 100vh; 
}

table {
    background-color: white;
}

#navbarSupportedContent {
    height: 100%;
}

$InputButtonsBorders: 1px solid white;
.btn {
    border: $InputButtonsBorders;
}

.modal-header, .modal-body, .modal-footer {
	background-color: black;
	color: white;
}