<div class="bgColor">

    <div class="container col-12 col-lg-10">
        <div id="title">
            <h2>List of collected Emails</h2>
        </div>
    
        <div class="row">
            <div class="col-12 d-flex justify-content-end mb-5">
                <button class="btn btn-info" (click)="exportCSV()">Export results csv/excel</button>
            </div>
            <div class="table-responsive" *ngIf="emails">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email Address</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date Spin</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let email of emails">
                            <td>{{email.EmailAddress}}</td>
                            <td>{{email.FirstName}}</td>
                            <td>{{email.LastName}}</td>
                            <td>{{email.DateSpin | date}}</td>
                            <td>{{email.Result}}</td>
                        </tr>
                    </tbody>
    
    
                </table>
            </div>
            
        </div>
    </div>
</div>

