<div class="bgColor">

    <div class="container">
        <div class="title">
            <h2>Insert Custom Script</h2>
        </div>
    
        <div class="row">
            <div class="col-10 mr-auto" [hidden]="FormSuccessfullySend" [@expand]>
                <form [formGroup]="HeaderFooterForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="header">HEADER:</label>
                        <textarea required formControlName="header" class="form-control" id="header" name="header" rows="3"></textarea>
                        
                        <div class="ErrorMessage" *ngIf="!formErrors.header"></div>
                        <div class="ErrorMessage" *ngIf="formErrors.header"><p style="color: red;">{{ formErrors.header }}</p></div>
 
                    </div>
    
                    <div class="mb-3">
                        <label for="footer">Footer:</label>
                        <textarea required formControlName="footer" class="form-control" id="footer" name="footer" rows="3"></textarea>    
                        <div class="ErrorMessage" *ngIf="!formErrors.footer"></div>
                        <div class="ErrorMessage" *ngIf="formErrors.footer"><p style="color: red;">{{ formErrors.footer }}</p></div>
                    </div>
    
                    <div class="mb-3">
                        <label for="title">Page title:</label>
                        <input required formControlName="pageTitle" type="text" class="form-control" id="title" name="title">  
                        <div class="ErrorMessage" *ngIf="!formErrors.pageTitle"></div>
                        <div class="ErrorMessage" *ngIf="formErrors.pageTitle"><p style="color: red;">{{ formErrors.pageTitle }}</p></div>
                    </div>
    
                    <div class="mb-3">
                        <label for="description">Page description:</label>
                        <textarea required formControlName="pageDescription" class="form-control" id="description" name="description" rows="3"></textarea>    
                        <div class="ErrorMessage" *ngIf="!formErrors.pageDescription"></div>
                        <div class="ErrorMessage" *ngIf="formErrors.pageDescription"><p style="color: red;">{{ formErrors.pageDescription }}</p></div>
                    </div>
    
                    <div class="mb-3">
                        <label for="favicon">Favicon:</label>

                        <div class="ImageUploadAndMessage d-flex" id="ImageUploadBox">
                            <div id="FileUploadBox">
                                <button type="button" class="btn btn-sm btn-success" (click)="favicon.click()">
                                    <span>File Upload</span>
                                    <input 
                                    style="display:none;"
                                    #favicon
                                    formControlName="favicon" 
                                    type="file" 
                                    (change)="processFile($event)"> 
                                </button>
                            </div>

                            <div id="FileUploadMessageBox" *ngIf="selectedFile" class="ml-1">
                                <div *ngIf="SuccessfullyUpload" class="alert alert-success d-flex justify-content-center"> <span>&#10004;</span></div>
                                <div *ngIf="UnsuccessfullyUpload" class="alert alert-danger d-flex justify-content-center"> <span>&#x2716;</span></div>
                            </div>
                        </div>


                    </div>




    
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" [disabled]="HeaderFooterForm.invalid">Save</button>
                    </div>
                </form>
            </div>

            <div class="customScriptSuccessfullySend" [hidden]="!FormSuccessfullySend" [@expand]>
                <h2>The custom script has been successfully saved</h2>
            </div>
        </div>
    
    </div>
</div>

