<div class="container">


    <div class="align-middle">

        <div class="row">
            <div class="col-12">
                <div class="title d-flex justify-content-center">
                    <h1>LOGIN</h1>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <div class="formContent">
                    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mb-2">
                                <div class="field">
                                    <input formControlName="username" type="text" placeholder="Username" required>
                                </div>
                            </div>
    
                            <div class="col-12 d-flex justify-content-center mb-2">
                                <div class="field">
                                    <input formControlName="password" type="password" placeholder="Enter your password" required>
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                                <div class="field d-flex justify-content-end">
                                    <button class="btn btn-sm btn-danger">Login</button>
                                </div>
                            </div>
    
                        </div>
                    </form>
                </div>

                <div class="errorMessage" *ngIf="LoginError">
                    <p>Wrong Username or Password</p>
                </div>
            </div>
        </div>

    </div>
    


</div>