$imgSize: 150px;

div.container {
    padding-top: 20px;
    background-color: black;
    height: 100vh;
}

div.image img {
    width: $imgSize;
    height: $imgSize;
    border-radius: 50%;
    }

.nav .nav-item{
    .nav-link {
        padding: 3px 0;
        color: white;
    }
} 


.nav .nav-item .nav-link:hover {
    color: yellow;
}