$imgSize: 150px;

div.container {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: black;
    height: 100%;
}

div.image img {
    width: $imgSize;
    height: $imgSize;
    border-radius: 50%;
    }

.nav .nav-item{
    .nav-link {
        padding: 3px 0;
        color: white;
    }
} 


.nav .nav-item .nav-link:hover {
    color: yellow;
}

@media only screen and (max-width: 991px) {
    div.container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

$InputButtonsBorders: 1px solid white;

.btn {
    border: $InputButtonsBorders;
}
