<div class="container menu1">

    <h2>Customize the spinner</h2>

    <div class="row my-5">
        <div class="col-12">
            <div id="settingNumber">
                <div>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Number of fields</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        
                        <button ngbDropdownItem>2</button>
                        <button ngbDropdownItem>3</button>
                        <button ngbDropdownItem>4</button>
                        <button ngbDropdownItem>5</button>
                        <button ngbDropdownItem>6</button>
                        <button ngbDropdownItem>7</button>
                        <button ngbDropdownItem>8</button>
                        <button ngbDropdownItem>9</button>
                        <button ngbDropdownItem>10</button>
                        <button ngbDropdownItem>11</button>
                        <button ngbDropdownItem>12</button>
                        <button ngbDropdownItem>13</button>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                
            </div>
        </div>
    </div>

    


</div>