<div class="container menu1">

    <h2>Customize the spinner</h2>

    <div class="row my-5">
        <div class="col-12">
            <div id="settingNumber">
                <div>
                    <label for="numberOptions">Number of fields on the spinner </label>
                    <select matNativeControl name="numberOptions" required (change)="onChange($event.target.value)">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" selected>6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12">
            <form [formGroup]="spinnerForm" (ngSubmit)="onSubmit()">
                <div>
                    <div class="row">
                        <div class="col-1"><label for="ImageOption">Input type</label></div>
                        <div class="col-3"><label for="">File Upload / Text Field</label></div>
                        <div class="col-2"><label for="">Percentage</label></div>
                        <div class="col-2"><label for="">Result</label></div>
                        <div class="col-2"><label for="">Text / Email</label></div>
                        <div class="col-2"><label for="">bg Color</label></div>
                    </div>
                    
                    <div formArrayName="spinnerArray">
                        <div class="mb-3"  *ngFor="let spinnerfield of spinnerArray.controls; let i = index" [formGroupName]="i">
                            <div class="row">
                                <div class="col-1">
                                    <select formControlName="isItImage" required (change)="onChangeImage($event.target.value, i)">
                                        <option [ngValue]="true" selected>Image</option>
                                        <option [ngValue]="false">Text</option>
                                    </select>
                                </div>
            
                                <div class="col-3" *ngIf="itIsImageFile[i]">
                                    <input formControlName="file" type="file" name="imageFile">
                                </div>
            
                                <div class="col-3" *ngIf="itIsTextField[i]">
                                    <input formControlName="textFieldOne" type="text" name="textField">
                                </div>
            
                                <div class="col-2">
                                    <input formControlName="percentage" type="number" name="textField" [class.invalid]="spinnerfield.controls.percentage.hasError('required')  && submitPressed">
                                </div>
            
                                <div class="col-2">
                                    <select formControlName="isItEmail" name="resultOption" required (change)="onChangeResult($event.target.value, i)">
                                        <option [ngValue]="true" selected>Text Popup</option>
                                        <option [ngValue]="false">Email Popup</option>
                                    </select>
                                </div>
            
                                <div class="col-2" *ngIf="itIsTextPopUp[i]">
                                    <input formControlName="textPopUp"  type="text" name="imageFile">
                                </div>
            
                                <div class="col-2" *ngIf="itIsEmailPopUp[i]">
                                    <input formControlName="emails" type="email" name="textField">
                                </div>
            
                                <div class="col-2">
                                    <input formControlName="color" type="color" [class.invalid]="spinnerfield.controls.color.hasError('required')  && submitPressed">
                                </div>
                            </div>
                            
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-danger"
                    >Submit</button>
                    
                </div>
            </form>
        </div>
    </div>

    


</div>