.bgColor {
    background-color: rgb(92, 92, 92);
    table {
        color: white;
        input, select {
            background-color: rgb(55, 190, 95);
            color: white;
        }
    }
    select {
        background-color: rgb(55, 190, 95);
        color: white;
    }
}

#navbarSupportedContent {
    height: 100%;
}

div.menu1 {
    padding: 50px 20px 30px 20px;
    color: white;
}

.invalid {
    border: 1px solid red;
    border-radius: 2px;
}

div.row input, td input {
    width: 140px;
    height: 32px;
    border: 1px solid white;
    border-radius: 5px;
}

select {
    border: 1px groove white;
    border-radius: 5px;
    height: 32px;
}

div#ImageUploadBox {
    div#FileUploadMessageBox {
        height: 15px;
        div.alert {
            height: 100%;
            margin: 0;
            align-items: center;
        }
    }
}

.btn {
    border: 1px groove white;
}

.btnInput {
    width: 90px;
}

.alert {
    width: 15px;
}

.ImageUploadAndMessage {
    width: 130px;
}