div.menu1 {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 20px;
}

.invalid {
    border: 1px solid red;
    border-radius: 2px;
}

div.row input, td input {
    width: 140px;
}

div#ImageUploadBox {
    div#FileUploadMessageBox {
        height: 15px;
        div.alert {
            height: 100%;
            margin: 0;
            align-items: center;
        }
    }

}